body {
  font-size: 14pt;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  color: "#000000b3";
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

h5 {
  font-size: 14pt;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #d02e77;
}

a:hover {
  text-decoration: underline;
  color: #d02e77;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  display: flex;
  margin: 15px 0px 30px 0px;
}

.logo {
  flex: 1; /* take full width */
}

.logo h1 {
  display: inline;
  padding: 20px 0px;
}

.nav {
  width: 300px;
  text-align: right;
  padding: 10px;
}

blockquote {
  border-left: 7px solid rgba(0, 0, 0, 0.25);
  margin: 1.5em 10px;
  padding: 1px 10px;
  font-style: italic;
}

code {
  background-color: #f4f3fa;
  color: Black;
  padding: 2px 4px;
}
