body {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Mono", serif;
  color: "#000000b3";
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #d02e77;
}

a:hover {
  text-decoration: underline;
  color: #d02e77;
}
