body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bitter", serif;
  color: "#000000b3";
}

.website-title a {
  text-decoration: none;
}

.website-title a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #d02e77;
}

a:hover {
  text-decoration: underline;
  color: #d02e77;
}

.footer-link a {
  color: #ffffff;
  text-decoration: none;
}

.footer-link a:hover {
  text-decoration: underline;
}
