body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bitter", serif;
  color: "#000000b3";
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #d02e77;
}

a:hover {
  text-decoration: underline;
  color: #d02e77;
}

.website-title a:link,
.website-title a:visited,
.website-title a:active {
  text-decoration: none;
}

.website-title a:hover {
  text-decoration: none;
}

.footer-link a:link,
.footer-link a:visited,
.footer-link a:active {
  color: #ffffff;
  text-decoration: none;
}

.footer-link a:hover {
  text-decoration: underline;
}
