<body>
  <div class="container">
    <header class="header">
      <div class="logo">
        <h1>
          <a href="/">bouwe.io</a>
        </h1>
      </div>
      <div class="nav">{{ navigation }}</div>
    </header>

    <div>
      <div><a href="/categories">&laquo; All categories</a></div>

      <div>
        <h2>{{ title }}</h2>
      </div>

      <div>{{ content }}</div>
    </div>

    <footer>
      <!--
          <a href="/workshops">Workshops</a> |
          <a href="/react">React</a>
          -->
    </footer>
  </div>
</body>
