<body>
  <div class="container">
    <header class="header">
      <div class="logo">
        <h1>
          <a href="/">bouwe.io</a>
        </h1>
      </div>
      <div class="nav">
        <!-- 
              <a href="#">about me</a> · <a href="#">speaking</a>
              -->
      </div>
    </header>

    <div>
      <h2>Blog categories</h2>
      {{ categories }}
    </div>

    <footer>
      <div>
        <!--
              <a href="/workshops">Workshops</a> |
              <a href="/react">React</a>
              -->
      </div>
    </footer>
  </div>
</body>
