<body>
  <div class="container">
    <header class="header">
      <div class="logo">
        <h1>
          <a href="/">bouwe.io</a>
        </h1>
      </div>
      <div class="nav">{{ navigation }}</div>
    </header>

    <div>
      <!--
          <img src="/bouwe-react-amsterdam.png" style="width: 100%" />
        -->
      <p>
        Hi! My name is Bouwe and I am a software engineer at
        <a href="https://newnexus.nl" target="_blank">New Nexus</a> in The
        Netherlands.
      </p>
      <p>
        I like learning new technologies and sharing what I learn by
        <a href="/blog">blogging</a> and giving
        <a href="/workshops">workshops and presentations</a>.
      </p>
      <p>
        At the moment I am working on <a href="/react">React</a>, GraphQL, .NET
        Core and Azure.
      </p>
    </div>

    <div>
      <h3>Recent blog posts</h3>
      {{ blogs }}
    </div>

    <div><a href="/blog">View all blog posts &raquo;</a></div>

    <div>
      <h3>Blog categories</h3>
      <p>{{ blogCategories }}</p>
    </div>

    <footer>
      <div>
        <!--
          <a href="/workshops">Workshops</a> |
          <a href="/react">React</a>
          -->
      </div>
    </footer>
  </div>
</body>
