<body>
  <div class="container">
    <header class="header">
      <div class="logo">
        <h1>
          <a href="/">bouwe.io</a>
        </h1>
      </div>
      <div class="nav">{{ navigation }}</div>
    </header>

    <div>
      <div>
        <h2 class="page-title">{{ title }}</h2>
      </div>

      <div>{{ content }}</div>

      <div>
        <a
          href="https://twitter.com/intent/tweet?text={{ title }}&url=https://bouwe.io/{{ slug }}&via=bouwe"
          >Share on Twitter</a
        >
        ·
        <a href="https://twitter.com/search?q=https://bouwe.io/{{ slug }}"
          >Discuss on Twitter</a
        >
        ·
        <a href="{{ editOnGitHubUrl }}">Edit on GitHub</a>
      </div>
    </div>

    <footer>
      <!--
          <a href="/workshops">Workshops</a> |
          <a href="/react">React</a>
          -->
    </footer>
  </div>
</body>
