      <div>
        <h2 class="page-title">Videos</h2>
      </div>

      <div>

        <div id="mw-kbd3lcxqqeo"></div>

            <div>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/H_QBb7_suJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
      </div>

<script>
  (function (m, a, long) {
  w=window;n=m.name;w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)};
  a=w.document.createElement('script'),long=w.document.getElementsByTagName('script')[0];
  a.src='https://malong.webinargeek.com/malong.embed.js';a.id=n;a.async=1;long.parentNode.insertBefore(a,long);w[n]('init',m);
  }({ element: document.getElementById('mw-kbd3lcxqqeo'),
    name: "mw",
    project: "channel",
    uuid: "kbd3lcxqqeoyymkovl6ca0nlijsfrsoi",
    headless: false,
    showWebinarsOnly: true,
    excludedCategories: [],
    }
  ));
</script>
