name: Publish Markdown and static assets to 'docs' folder

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check-out the repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Install dependencies
        run: npm ci

      - name: Publish Markdown to HTML
        run: npm run publish
        
      - name: Create CNAME file
        run: echo 'www.bouwe.io' > docs/CNAME
        
      - name: Commit and push
        run: |
          git config --global user.name 'Bouwe K. Westerdijk'
          git config --global user.email 'bouwe77@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git add docs/*
          git commit -am "Publish Markdown to HTML"
          git push        
